In [1]:
#Take Original Kaggle dataset and get just the SP100 stocks
import os 
import pandas as pd

tickers = pd.read_csv("SP_100_Tickers.csv")
input_folder = os.path.join("..","Data","Stocks")

In [2]:
tickers.head()

  Symbol                       Name
0   AAPL           Apple Inc.
1   ABBV          AbbVie Inc.
2    ABT  Abbott Laboratories
3    ACN        Accenture plc
4    AGN         Allergan plc

In [ ]:
    for root, _, files in os.walk("/Users/jorjis/Desktop/folder/"):
    for f in files:
        new_path = f + root
        if new_path in lines:
            shutil.copy(new_path, `/some_new_dir')